<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline">
            <li class="list-inline-item">
              <a routerLink="/list" class="btn btn-info" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-list"></i></a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/new" class="btn btn-info" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet/>
    </div>
  </div>
</div>
